.appLayout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-background);
}

@media (max-width: 768px) {
  .appLayout {
    flex-direction: column;
  }
}